:global {
  .ant-layout-sider{
    background: rgba(255, 255, 255, 0);
    margin: 4% 6% 0 0;
  }
  .ant-card-head {
    background: #e7ecec00;
  }
}

.card {
  //min-height: 100vh;
  //box-shadow: 1px 0 6px rgb(201, 197, 197);
  position: relative;
  z-index: 10;
  padding: 10px;
  border: none;
  background: rgba(255, 255, 255, 0);
  //opacity: 1;
}