
:global {
  table {
    padding: 0;
  }
}

.list {
  background: #fff;
  height: 88vh;
  border-right-style: dotted;
  border-right-width: 1px;

  .select {
    width: 100%;
    position:absolute;
    right:0;
    bottom:0;
    span {
      width:100%;
      background: #fafafa;
      color: #000000;
    }
  }
}

.icon {
  margin-right: 5px;
}
.button {
  border-style: dashed;
  width: 100%;
  padding: 3px;
  text-align: center; 
}