
@background: #ccc;
.list {
  height: 88vh;
  background: #fff;
  border-right-style: dotted;
  border-right-width: 1px;
  .item {
    height: 70px;
    margin: 0 0 5px 0;
    padding: 0 0 0 5px;
    div{
      height: 70px;
      h3{
        margin: 0px;
      }
      span {
        height: 35px;
        padding-bottom: 5px;
        div {
          height: 20px;
          font-size: 4px;
          padding-bottom: 5px;
          
        }
      }
    }
    
  }
  .item:hover {
    background: @background;
  }

}